/*
 * am335x-igep-base0040-lite.dts - Device Tree file for IGEP0034 Lite
 * MODULE based on AM3352 and BASE0040 RB IGEP SMARC EXPANSION
 *
 * Copyright (C) 2016 ISEE 2007 SL - http://www.isee.biz
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "am335x-igep-igep0034-lite.dtsi"

/ {
	model = "ISEE IGEP SMARC AM3352 Lite Kit";
	compatible = "isee,am335x-igep-base0040-lite", "isee,am335x-igep-igep0034-lite", "ti,am33xx";

	sound {
		compatible = "ti,da830-evm-audio";
		ti,model = "AM335x-BASE0040";
		ti,audio-codec = <&tlv320aic3106>;
		ti,mcasp-controller = <&mcasp0>;
		ti,codec-clock-rate = <12000000>;
		ti,audio-routing =
            "Headphone Jack",       "HPLOUT",
            "Headphone Jack",       "HPROUT",
            "Mic Jack",             "MIC3L",
            "Mic Jack",             "MIC3R",
            "Line In",              "LINE1L",
            "Line In",              "LINE1R";
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&user_buttons_pins_default>;

		user {
			label = "User button";
			gpios = <&gpio3 8 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_HOME>;
		};
	};
};

&am33xx_pinmux {
	pinctrl-names = "default";
	pinctrl-0 = <
		&hub_pins
	>;

	hub_pins: pinmux_hub_pins_default {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x824, PIN_OUTPUT_PULLDOWN | MUX_MODE7)	/* gpmc_ad9.gpio0[23] */
		>;
	};

	reset_tlv320_pins: pinmux_reset_tlv320_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x9A0, PIN_OUTPUT_PULLUP | MUX_MODE7 ) /* mcasp0_aclkr.gpio3[18] */
		>;
	};

	user_buttons_pins_default: pinmux_user_buttons_pins_default {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x9E8, PIN_INPUT_PULLUP | MUX_MODE7)		/* EMU1.gpio3[8] */
		>;
	};

	uart3_pins_default: pinmux_uart3_pins_default {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x934, PIN_INPUT_PULLUP | MUX_MODE1)		/* gmii1_rxd3.uart3_rxd */
			AM33XX_IOPAD(0x938, PIN_OUTPUT | MUX_MODE1)				/* gmii1_rxclk.uart2_txd */
		>;
	};

	uart3_pins_sleep: pinmux_uart3_pins_sleep {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x934, PIN_INPUT_PULLDOWN | MUX_MODE7)
			AM33XX_IOPAD(0x938, PIN_INPUT_PULLDOWN | MUX_MODE7)
		>;
	};

	uart5_pins_default: pinmux_uart5_pins_default {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x908, PIN_INPUT_PULLUP | MUX_MODE3)		/* gmii1_col.uart5_rxd */
			AM33XX_IOPAD(0x918, PIN_OUTPUT | MUX_MODE3)				/* gmii1_rxdv.uart5_txd */
		>;
	};

	uart5_pins_sleep: pinmux_uart5_pins_sleep {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x908, PIN_INPUT_PULLDOWN | MUX_MODE7)
			AM33XX_IOPAD(0x918, PIN_INPUT_PULLDOWN | MUX_MODE7)
		>;
	};
};

&i2c1 {
	tlv320aic3106: tlv320aic3106@1b {
		compatible = "ti,tlv320aic3106";
		reg = <0x1b>;
		status = "okay";
		gpio-reset = <&gpio3 18 1>;
		ai3x-micbias-vg = <2>;

		/* Regulators */
		AVDD-supply = <&vaux2_reg>;
		IOVDD-supply = <&vaux2_reg>;
		DRVDD-supply = <&vaux2_reg>;
		DVDD-supply = <&vbat>;
	};
};

&mcasp0 {
	op-mode = <0>;		/* MCASP_IIS_MODE */
	tdm-slots = <2>;
	/* 16 serializer */
	serial-dir = < /* 0: INACTIVE, 1: TX, 2: RX */
		1 2 0 0
	>;
	tx-num-evt = <32>;
	rx-num-evt = <32>;
};

&uart3 {
	status = "okay";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart3_pins_default>;
	pinctrl-1 = <&uart3_pins_sleep>;
};

&uart5 {
	status = "okay";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart5_pins_default>;
	pinctrl-1 = <&uart5_pins_sleep>;
};

&tscadc {
	adc {
		ti,adc-channels = <0 1 2 3 4 5 6>;
	};
};
