/*
 * Device Tree Source for IGEP EXPANSION BASE0010RB with
 * COM MODULE Rev. G (TI OMAP AM/DM37x)
 *
 * Copyright (C) 2015 ISEE <isee.biz>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include "omap3-igep0030-rev-g.dts"
#include "omap-gpmc-smsc9221.dtsi"

/ {
	model = "IGEP EXP BASE0010RB with COM MODULE Rev. G (TI OMAP AM/DM37x)";
	compatible = "isee,omap3-igep0030-rev-g-base0010", "isee,omap3-igep0030-rev-g", "ti,omap36xx", "ti,omap3";
};

&omap3_pmx_core {
   smsc9221_ETH1_pins: pinmux_smsc9221_ETH1_pins {
		pinctrl-single,pins = <
			0x08a (PIN_OUTPUT | MUX_MODE0)		/* gpmc_ncs6.gpmc_ncs6 */
			0x058 (PIN_INPUT | MUX_MODE4)	      /* gpmc_a8.gpio_41 */
		>;
	};

   smsc9221_ETH2_pins: pinmux_smsc9221_ETH2_pins {
		pinctrl-single,pins = <
			0x086 (PIN_OUTPUT | MUX_MODE0)		/* gpmc_ncs4.gpmc_ncs4 */
			0x080 (PIN_INPUT | MUX_MODE4)		   /* gpmc_ncs1.gpio_52 */
		>;
	};
};

&gpmc {
	ranges = <0 0 0x00000000 0x20000000>,
         <6 0 0x2d000000 0x01000000>,
		   <4 0 0x2b000000 0x01000000>;

   ethernet@gpmc {
      pinctrl-names = "default";
		pinctrl-0 = <&smsc9221_ETH1_pins>;
      reg = <6 0 0xff>;
		interrupt-parent = <&gpio2>;
      interrupts = <9 IRQ_TYPE_LEVEL_LOW>;
	};

   ethernet2@gpmc {
		pinctrl-names = "default";
		pinctrl-0 = <&smsc9221_ETH2_pins>;
      reg = <4 0 0xff>;
		interrupt-parent = <&gpio2>;
      interrupts = <20 IRQ_TYPE_LEVEL_LOW>;
	};
};
